
 .contact-input, .Mensaje
 {
     border-radius: 5px;
     padding: 5px 5px;
     margin:  8px 0;
     width: 100%;
     font-family: "Pixelify Sans", sans-serif;
     background-color: #ffffff;
     color: black;   
 }
 
 .submit-message
 {
 justify-content: center;
 align-items: center;
 text-align: center;
 font-family: "Pixelify Sans", sans-serif;
 padding: 12px 45px;
 text-transform: uppercase;
 border-radius: 5px;
  
 }
  
 .form-container
 {
     display: flex;
     text-align: center;
     justify-content: center;
  
 }
 .contact-form
 {
    
     background-color: #266dd3;  
     margin-top: 30px;
     margin-bottom: 30px;
     color: #fff;
     padding: 12px 24px;
     border-radius: 10px;
     max-width: 500px;
 }
  
 .title-form
 {
  
     color: rgba(255, 255, 255, 0.877);
     text-shadow: 5px 5px 5px rgb(0, 0, 0);
     font-family: "Pixelify Sans", sans-serif;
     font-size: 30px;
     padding: 12px 24px;
     text-decoration: none;
     font-weight: bold;
     border-radius: 5px;
     margin: auto;
     display: block;
     width: fit-content;
  
 }
 .submit-message:hover
 {
     opacity: 0.7;
 }
