<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="../../jquery-3.7.1.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
        <link rel="icon" href="../../img/LOGOFINAL.png" />
        <link rel="StyleSheet" href="../Index/styles.css" type="text/css">
        <link rel="StyleSheet" href="./merch.css" type="text/css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Blue Rabbit</title>
    </head>
    <body>
        <script src="../../functions/logica.js"></script>
        <div id="contenedor">
            <header>
                <nav>
                    <a id="logo" href="../Index/index.html"><img src="../../img/LOGOFINAL.png" alt=""></a>
                    <a href="../All_Video_Games/allVideogames.html">All VideoGames</a>
                    <a href="https://www.rockpapershotgun.com/">News</a>
                    <a href="../Merch/merch.html">Merch</a>
                    <form>
                        <input id="searchBar" type="search" placeholder=" Search Videogame..." />
                        <input id="btn" type="button" value=""><img id="lupa" src="../../img/IconLupa.png" alt="" />
                    </form>
                    <input id="tema_claro_oscuro" type="button" value="☀️">
                </nav>
        </header>

        <section id="merch">
            <article><a href="https://www.justgeek.com/collections/horror-merchandise/products/saw-tubbz-1st-ed-billy-the-puppet"><img src="https://www.justgeek.com/cdn/shop/files/Saw_Billy_Horror__FETUBBZ_PL_1_540x.jpg?v=1723076274" alt=""></a></article>

            <article><a href="https://www.justgeek.com/products/destiny-exotic-weapon-gjallarhorn"><img src="https://www.justgeek.com/cdn/shop/files/bbbb3dd8-290d-4763-9d5e-7e5d19302753_540x.jpg?v=1723594291" alt=""></a></article>

            <article><a href="https://www.justgeek.com/collections/squishmallows/products/squishmallows-plush-figure-harry-potter-in-quidditch-robe-25-cm"><img src="https://www.justgeek.com/cdn/shop/files/hr_jazsqwb00124_540x.jpg?v=1726241604" alt=""></a></article>

            <article><a href="https://www.justgeek.com/collections/squishmallows/products/pokemon-squishmallows-plush-figure-jumbo-winking-pikachu-51-cm"><img src="https://www.justgeek.com/cdn/shop/files/x_boti39030_720x.jpg?v=1726242942" alt=""></a></article>

            <article><a href="https://www.fangamer.com/collections/restocked/products/transistor-anniversary-shirt"><img src="https://www.fangamer.com/cdn/shop/files/product_transistor_10th_Anniversary_shirt_main.png?crop=center&height=1200&v=1715635293&width=1800" alt=""></a></article>

            <article><a href="https://www.fangamer.com/collections/on-sale/products/lil-gator-plush"><img src="https://www.fangamer.com/cdn/shop/files/product_LGG_lil_gator_plush_main.png?crop=center&height=600&v=1686188519&width=900" alt=""></a></article>

            <article><a href="https://www.fangamer.com/collections/new-and-featured/products/pizza-tower-mug-rat"><img src="https://www.fangamer.com/cdn/shop/files/product_pizza_tower_brick_mug_main.png?crop=center&height=600&v=1721683676&width=900" alt=""></a></article>

            <article><a href="https://www.fangamer.com/collections/new-and-featured/products/astro-bot-plush"><img src="https://www.fangamer.com/cdn/shop/files/product_astro_bot_plush_main.png?crop=center&height=600&v=1697491922&width=900" alt=""></a></article>
        </section>


     
        <footer>
            <div id="socials">
                
                <a href=""><img src="../../img/facebook.png" alt=""></a>
                <a href=""><img src="../../img/reddit.png" alt=""></a>
                <a href=""><img src="../../img/instagram.png" alt=""></a>
            </div>

            <div id="creditos">
                <a href="">Copyright © 2024 BlueRabbit S.R.L.   </a>
                <a href=""> -    Ayuda</a>
                <a href=""> -    Promociones</a>
                <a href=""> -    Terminos y Condiciones</a>
            </div>

            <div id="contacto">
                <a href="">bluerabbitgames@gmail.com</a>
            </div>

            
        </footer>
        
    </div>
</body>
</html>





