article{
    height: 350px;
    width: 300px;
    margin: 10px;
}

article a img{
    height: 350px;
    width: 300px;
    border-radius: 10px;
}

article :hover{
    scale: calc(1.04);
    transition: 0.4s;
}







