<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../../jquery-3.7.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link rel="icon" href="../../img/LOGOFINAL.png" />
    <link rel="StyleSheet" href="styles.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Blue Rabbit</title>
</head>
<body>
    <script src="../../functions/logica.js"></script>
    <div id="contenedor">
        <header>
            <nav>
                <a id="logo" href="./index.html"><img src="../../img/LOGOFINAL.png" alt=""></a>
                <a href="../All_Video_Games/allVideogames.html">All VideoGames</a>
                <a href="https://www.rockpapershotgun.com/">News</a>
                <a href="../Merch/merch.html">Merch</a>
                <a href="../Contact/contacto.html">Contact</a>
                <form>
                    <input id="searchBar" type="search" placeholder=" Search Videogame..." />
                    <input id="btn" type="button" value=""><img id="lupa" src="../../img/IconLupa.png" alt="" />
                </form>
                <input id="tema_claro_oscuro" type="button" value="☀️">
            </nav>
        </header>


        <h1 id="eslogan">Fall down this rabbit hole of games</h1> 
        <div id="welcomeBlock" class="wblock">
            <div class="block-content">
                <span class="close-btn" onclick="closeModal()">✖</span>
                <h2>¡Bienvenido a Blue Rabbit!</h2>
                <p>Explora nuestros juegos.</p>                      
            </div>
        </div>

        <div id="banerContainer">
            <h1>Coming Soon...</h1>
            
            <div id="scroller">
                <video autoplay loop muted src="../../video/5118032-hd_1920_1080_24fps.mp4">
            </div>
        </div>

        <section>
            <article>
                <a href="https://www.counter-strike.net/cs2?l=spanish">
                    <img src="../../img/Game1.png" alt="">
                    <div>$19.99</div>
                    <button id="carrito" class="heart-button"></button>
                </a>
            </article>

            <article>
                <a href="https://www.pubg.com/">
                    <img src="../../img/Game2.png" alt="">
                </a>
            </article>

            <article>
                <a href="https://www.rockstargames.com/es/games">
                    <img src="../../img/Game3.png" alt="">
                </a>
            </article>

            <article>
                <a href="https://www.nintendo.com/es-es/Juegos/NES/The-Legend-of-Zelda-796345.html?srsltid=AfmBOorem_h-C9Va3HGxOZsS5qEEeReX00ZZrdI8IZowfiFq5FhjgR5o">
                    <img src="../../img/Game4.png" alt="">
                </a>
            </article>
        </section>

        <footer>
            <div id="socials">
                <a href=""><img src="../../img/facebook.png" alt=""></a>
                <a href=""><img src="../../img/reddit.png" alt=""></a>
                <a href=""><img src="../../img/instagram.png" alt=""></a>
            </div>

            <div id="creditos">
                <a href="../../img/UnderConstructions.gif">Copyright © 2024 BlueRabbit S.R.L.   </a>
                <a href=""> - Ayuda</a>
                <a href=""> - Promociones</a>
                <a href=""> - Terminos y Condiciones</a>
            </div>

            <div id="contacto">
                <a href="">bluerabbitgames@gmail.com</a>
            </div>

        </footer>
        
    </div>
</body>
</html>





