<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="../../jquery-3.7.1.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
        <link rel="icon" href="../../img/LOGOFINAL.png" />
        <link rel="StyleSheet" href="../../styles.css" type="text/css">
        <link rel="StyleSheet" href="juegos.css" type="text/css">

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Blue Rabbit</title>
    </head>
    <body>
        <script src="../../functions/logica.js"></script>
        <div id="contenedor">
            <header>
                <nav>
                    <a id="logo" href="../../index.html"><img src="../../img/LOGOFINAL.png" alt=""></a>
                    <a href="../All_Video_Games/allVideogames.html">All VideoGames</a>
                    <a href="../Merch/merch.html">Merch</a>
                    <a href="../Contact/contacto.html">Contact</a>
                    <a href="../News/news.html">News</a>
                    <form>
                        <input id="searchBar" type="search" placeholder=" Search Videogame..." />
                        <input id="btn" type="button" value=""><img id="lupa" src="../../img/IconLupa.png" alt="" />
                    </form>
                    <input id="tema_claro_oscuro" type="button" value="☀️">
                </nav>
            </header>

            <div class="review-section">
                <div class="summary-container">
                    <div class="summary-section">
                        <h2>About Charter: Lost in the City</h2>
                        <p>Charter: Lost in the City is a third-person adventure game that follows a tourist stranded in a foreign city. The protagonist must navigate through bustling streets, solve puzzles, and interact with locals to find his way back to the airport before his flight departs. With stunning visuals, a gripping narrative, and a diverse, living city to explore, the game offers a rich, immersive experience for those who love adventure and exploration.</p>
                        <img src="../../img/Game8.png" alt="Charter: Lost in the City Gameplay">
                    </div>
                
                    <div class="review-section">
                        <h2>Player Reviews</h2>
                        <div class="review">
                            <h3>“A Beautiful Journey Through an Unknown City” - Adventure World Review</h3>
                            <p>"Charter: Lost in the City creates a captivating narrative set against the backdrop of a foreign city. The detailed environments and engaging puzzle-solving make it a joy to explore every corner of the world."</p>
                        </div>
                
                        <div class="review">
                            <h3>“Heartwarming and Immersive” - Indie Game Chronicles</h3>
                             <p>"What sets Charter apart is the emotional connection you build with the protagonist. The game masterfully combines beautiful scenery with a meaningful journey, making it more than just an adventure."</p>
                        </div>
                
                        <div class="review">
                            <h3>“A Refreshing Adventure Game” - The Gamer’s Den</h3>
                            <p>"With its immersive environment and thoughtful puzzles, Charter: Lost in the City offers a refreshing take on the adventure genre. It's a must-play for anyone who enjoys games that emphasize exploration and narrative."</p>
                        </div>
                

                        <div class="buy-button-container">
                            <button class="buy-button">Buy Now - $39.99</button>
                        </div>
                </div>
            </div>

        
        
        <footer>
            <div id="socials">
                <a href=""><img src="../../img/facebook.png" alt=""></a>
                <a href=""><img src="../../img/reddit.png" alt=""></a>
                <a href=""><img src="../../img/instagram.png" alt=""></a>
            </div>

            <div id="creditos">
                <a href="">Copyright © 2024 BlueRabbit S.R.L.   </a>
                <a href=""> -    Ayuda</a>
                <a href=""> -    Promociones</a>
                <a href=""> -    Terminos y Condiciones</a>
            </div>

            <div id="contacto">
                <a href="">bluerabbitgames@gmail.com</a>
            </div>

            
        </footer>
        
        </div>
    </body>
</html>





