<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link rel="icon" href="../../img/LOGOFINAL.png" />
    <link rel="StyleSheet" href="styles.css" type="text/css">
    <link href="estilomascolumnas.css" rel="stylesheet" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Blue Rabbit - Cart</title>
</head>
<body>
    <div id="contenedor">
        <header>
            <nav>
                <a id="logo" href="./index.html"><img src="../../img/LOGOFINAL.png" alt=""></a>
                <a href="../All_Video_Games/allVideogames.html">All VideoGames</a>
                <a href="https://www.rockpapershotgun.com/">News</a>
                <a href="../Merch/merch.html">Merch</a>
                <a href="/TP_Dis-Dev-Web/views/Contact/contacto.html">Contact</a>
                <a id="CartLogo" href="../../views/Cart/cart.html"><img src="../../img/cart.png" alt="carro"></a>
                <form>
                    <input type="search" placeholder=" Search Videogame..." />
                    <input id="btn" type="button" value=""><img id="lupa" src="../../img/IconLupa.png" alt="" />
                </form>
            </nav>
        </header>

        <div id="" class="wblock">
            <div class="block-content">
                                 
            </div>
        </div>

       

        

        <footer>
            <div id="socials">
                
                <a href=""><img src="../../img/facebook.png" alt=""></a>
                <a href=""><img src="../../img/reddit.png" alt=""></a>
                <a href=""><img src="../../img/instagram.png" alt=""></a>
            </div>

            <div id="creditos">
                <a href="../../img/UnderConstructions.gif">Copyright © 2024 BlueRabbit S.R.L.   </a>
                <a href=""> - Ayuda</a>
                <a href=""> - Promociones</a>
                <a href=""> - Terminos y Condiciones</a>
            </div>

            <div id="contacto">
                <a href="">bluerabbitgames@gmail.com</a>
            </div>

        </footer>
        
    </div>
    <script src="/TP_Dis-Dev-Web/functions/logica.js"></script>
</body>
</html>





