#order{
    margin-top: 10px;
    height: 30px;
    display: flex;
    align-items: center;
}

#order :hover{
    cursor: pointer;
}

#boxSelect{
    margin-top: 10px;
    border-radius: 10px;
    border-color: beige;
    height: 25px;
    background-color: #266dd3;
    margin-left: 10px;
    color: white;
}

#boxSelect :hover{
    cursor: pointer;
}




