<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="../../jquery-3.7.1.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
        <link rel="icon" href="../../img/LOGOFINAL.png" />
        <link rel="StyleSheet" href="../../styles.css" type="text/css">
        <link rel="StyleSheet" href="./allVideogames.css" type="text/css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Blue Rabbit</title>
    </head>
    <body>
        <script src="../../functions/logica.js"></script>
        <div id="contenedor">
            <header>
                <nav>
                    <a id="logo" href="../../index.html"><img src="../../img/LOGOFINAL.png" alt=""></a>
                    <a href="../All_Video_Games/allVideogames.html">All VideoGames</a>
                    <a href="../Merch/merch.html">Merch</a>
                    <a href="../Contact/contacto.html">Contact</a>
                    <a href="../News/news.html">News</a>
                    <form>
                        <input id="searchBar" type="search" placeholder=" Search Videogame..." />
                        <input id="btn" type="button" value=""><img id="lupa" src="../../img/IconLupa.png" alt="" />
                    </form>
                    <input id="tema_claro_oscuro" type="button" value="☀️">
                </nav>
            </header>

                <div id="order">
                    <label for="boxSelect">Order</label>
                    <select id="boxSelect">
                        <option disabled>Order By Name</option>
                        <option class="test" value="A">A-Z</option>
                        <option value="Z">Z-A</option>
                    </select>
            </div>
            <section>
                <article><a href="../Juegos/Juego1.html"><img src="../../img/Game1.png" alt=""></a></article>

                <article><a href="../Juegos/Juego2.html"><img src="../../img/Game2.png" alt=""></a></article>

                <article><a href="../Juegos/Juego3.html"><img src="../../img/Game3.png" alt=""></a></article>

                <article><a href="../Juegos/Juego4.html"><img src="../../img/Game4.png" alt=""></a></article>
            
                <article><a href="../Juegos/Juego5.html"><img src="../../img/Game5.png" alt=""></a></article>

                <article><a href="../Juegos/Juego6.html"><img src="../../img/Game6.png" alt=""></a></article>

                <article><a href="../Juegos/Juego7.html"><img src="../../img/Game7.png" alt=""></a></article>

                <article><a href="../Juegos/Juego8.html"><img src="../../img/Game8.png" alt=""></a></article>
            </section>

        
        
        <footer>
            <div id="socials">
                <a href=""><img src="../../img/facebook.png" alt=""></a>
                <a href=""><img src="../../img/reddit.png" alt=""></a>
                <a href=""><img src="../../img/instagram.png" alt=""></a>
            </div>

            <div id="creditos">
                <a href="">Copyright © 2024 BlueRabbit S.R.L.   </a>
                <a href=""> -    Ayuda</a>
                <a href=""> -    Promociones</a>
                <a href=""> -    Terminos y Condiciones</a>
            </div>

            <div id="contacto">
                <a href="">bluerabbitgames@gmail.com</a>
            </div>

            
        </footer>
        
    </div>
</body>
</html>





